body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-image: url("https://images.hdqwalls.com/download/clouds-summer-weather-5k-1b-1366x768.jpg");
    background-size: cover;

}

.main-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333333;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#weather-container {
    margin-top: 20px;
    text-align: center;
}

#temperature,
#windSpeed,
#humidity {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #333333;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333333;
}